.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
}

.commonGrid {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;

}

.picturesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.picture {
    position: relative;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.deleteBtn button{
    background: transparent;
    line-height: 0;
    color: white;
}

.deleteBtn:hover {
    border: 1px solid yellow;
}

.deleteBtn button:hover{
    color: yellow;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    flex: 0 0 30px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}

.buttons button:hover {
    box-shadow: 3px -1px 5px #fff;
    text-shadow: 3px -1px 5px #fff;
}
.buttons button:active{
    box-shadow: 3px -1px 5px yellow;
    text-shadow: 3px -1px 5px yellow;
}


.buttons button:last-child {
    margin-bottom: 0;
}

.inp{
    width: 100%;
    padding: 5px;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    background: transparent;
    color: yellowgreen;
    margin-bottom: 5px;
}

.inp:focus{
    box-shadow: 3px -1px 5px yellow;
}

.error {
    border: 2px solid red;
}

.error:focus{
    box-shadow: 3px -1px 5px red;
}

.errorText{
    display: inline-flex;
    height: 20px;
    color: red;
}