.message {
    padding: 20px 0;
}

.container {
    width: 300px;
    margin: 0 auto;
    display: flex;

}

.avatar {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 25px;
}


.avatar img {
    width: 100%;
    border-radius: 50%;
}


.body {
    flex: 1 1 auto;
    background: rgba(47, 64, 79, 0.7);
    color: white;
    display: flex;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    position: relative;
}

.body::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: -20px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 20px, rgba(47, 64, 79, 0.7) 0);
}

.text {
    padding: 5px;
    flex: 1 1 auto;
}

.text * {
    margin: 0;
}

.text h4 {
    color: blueviolet;
    margin-bottom: 10px;
}

.time {
    align-self: flex-end;
    color: gray;
}
