.container {
    width: 300px;
    margin: 0 auto;
    padding: 30px 10px;
}

.affairsBlock {
    margin-bottom: 20px;
}

.buttonsBlock {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    padding: 5px 0;
    text-transform: capitalize;
    align-items: center;
    font-size: 16px;
}

.title {
    flex: 1 1 auto;
}

.priority {
    flex: 0 0 80px;
}

.delete {
    flex: 0 0 30px;
}

.btn{
   flex: 0 0 65px;
}

.high {
    border-color: greenyellow;
    color: greenyellow;
}

.middle {
    border-color: orange;
    color: orange;
}

.low {
    border-color: red;
    color: red;
}
