.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
}

.commonGrid {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;
}

.picturesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.picture {
    position: relative;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 17px !important;
    height: 17px !important;
    display: inline-grid;
    align-content: center;
    color: yellow !important;
    background: black !important;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    flex: 0 0 30px;
    margin-bottom: 10px;
}