.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.inpWrapper{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.inpBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 250px;
    margin-right: 20px;
}

.btn{
    align-self: flex-start;
    flex: 0 0 100px;
}

.counter{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}